<a href="https://colab.research.google.com/github/afroozsheikh/COVID-19-sentiment-analysis/blob/main/nltk_pre_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import nltk
import re
import string
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [57]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

### Loading Data

In [58]:
df = pd.read_csv("data_to_learn.csv")
df.head()

   Unnamed: 0  ...  Sentiment_Label
0           0  ...         negative
1           1  ...         negative
2           2  ...          neutral
3           3  ...         negative
4           4  ...         positive

[5 rows x 4 columns]

### Lower case

In [60]:
for i in df.index:
  df.at[i, "full_text"] = df.at[i, "full_text"].lower()

df.head()

   Unnamed: 0  ...  Sentiment_Label
0           0  ...         negative
1           1  ...         negative
2           2  ...          neutral
3           3  ...         negative
4           4  ...         positive

[5 rows x 4 columns]

###Remove numbers

In [62]:
for i in df.index:
  df.at[i, "full_text"] = re.sub(r"\d+", "", df.at[i, "full_text"])

df.head()

   Unnamed: 0  ...  Sentiment_Label
0           0  ...         negative
1           1  ...         negative
2           2  ...          neutral
3           3  ...         negative
4           4  ...         positive

[5 rows x 4 columns]

###Remove punctuation

In [63]:
for i in df.index:
  df.at[i, "full_text"] = df.at[i, "full_text"].translate(str.maketrans("", "", string.punctuation))

df.head()

   Unnamed: 0  ...  Sentiment_Label
0           0  ...         negative
1           1  ...         negative
2           2  ...          neutral
3           3  ...         negative
4           4  ...         positive

[5 rows x 4 columns]

### Remove white spaces

In [64]:
for i in df.index:
  df.at[i, "full_text"] = df.at[i, "full_text"].strip()

df.head()

   Unnamed: 0  ...  Sentiment_Label
0           0  ...         negative
1           1  ...         negative
2           2  ...          neutral
3           3  ...         negative
4           4  ...         positive

[5 rows x 4 columns]

###Remove stop words

In [65]:
stop_words = set(stopwords.words('english'))

for i in df.index:
  tokens = word_tokenize(df.at[i, "full_text"])
  result = [i for i in tokens if not i in stop_words]
  df.at[i, "full_text"] = ' '.join(str(e) for e in result)

df.head()

   Unnamed: 0  ...  Sentiment_Label
0           0  ...         negative
1           1  ...         negative
2           2  ...          neutral
3           3  ...         negative
4           4  ...         positive

[5 rows x 4 columns]

###Lemmatization

In [55]:
lemmatizer=WordNetLemmatizer()

for i in df.index:
  result_list = word_tokenize(df.at[i, "full_text"])
  df.at[i, "full_text"] = ' '.join(lemmatizer.lemmatize(word) for word in result_list)

df.head()

   Unnamed: 0  ...  Sentiment_Label
0           0  ...         negative
1           1  ...         negative
2           2  ...          neutral
3           3  ...         negative
4           4  ...         positive

[5 rows x 4 columns]